.note-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-color: #120f0f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-wrapper {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.form-wrapper h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #333;
}

.note-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-form input, .note-form textarea {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    font-size: 1em;
    outline: none;
}

.note-form input:focus, .note-form textarea:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.note-form input:hover, .note-form textarea:hover {
    border-color: #888;
}

.note-form textarea {
    height: 100px;
    resize: none;
}

.note-form button {
    padding: 10px 20px;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10px;
    width: 100%;
}

.note-form button:hover {
    background-color: #357ab8;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
